*{
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}

.mt{
   margin-top: 10px;
}

.mb{
   margin-bottom: 10px;
}

.header h1.header_title{
   color: rgb(46, 5, 84);
   font-weight: bolder;
}

.header p.header_text{
   color: rgb(46, 5, 84);
}

.body_card{
   margin: auto;
   width: fit-content;
   border: rgb(38, 9, 132) 1px solid;
   padding: 3em;
   border-radius: 10px;
   box-shadow: 2px -2px rgb(4, 36, 36);
}

.body_card .input_container{ 
   display: flex;
   justify-content: center;
   margin-bottom: 15px;

}

.input_container input{
   width: 80px;
}

.button_group{
   display: flex;
   justify-content: center;
   margin: 15px 0;
}

.button_group button{
   margin: 5px;
}